<!DOCTYPE html>
<html>
	<head>
	<meta charset="utf-8">
                <title>login page Admin</title>
        </head>
	<div class="adminLogin">
		<h1>login Admin</h1>
		<form action="{{ url_for('admin') }}" method="post">
			<label for="email">
				<i class="fas fa-user"></i>
			</label>
			<input type="text" name="email" placeholder="email" id="email" required>
			<label for="password">
				<i class="fas fa-lock"></i>
			</label>
			<input type="password" name="password" placeholder="Password" id="password" required>
			<div class="msg">{{ msg }}</div>
			<input type="submit" value="Login">
		</form>
	</div>
</html>
