{% extends 'layoutAdmin.html' %}

{% block title %}Tools{% endblock %}

{% block content %}
<br>

<h2>Add a product</h2>

        <div id="addProduct">
                <form name=addProduct action="/flask/addProduct" method="POST">
                <label>Product name:</label>
                <input type="text" name="name">
                <br>
                <label>Product price:</label>
                <input type="text" name="price">
                <br>
                <label>Product pic:</label>
                <input type="text" name="pic">
                <br>
                <label>Product category:</label>
                <input type="text" name="category">
                <br>
                <label>Product description:</label>
                <input type="text" name="description">
                <br>
                <label>Product stock:</label>
                <input type="text" name="stock">

                <br>

                <input type="submit" name="action" value="addProduct">
		</form>
        </div>


<h2>Remove a product</h2>

        <div id="removeProduct">
                <form name=removeProduct action="/flask/removeProduct" method="POST">
                <label>Product ID:</label>
                <input type="text" name="ID">
		<br>
                <input type="submit" name="action2" value="removeProduct">
		</form>
        </div>

<h2>Add a new Category</h2>

        <div id="addCategory">
                <form name=addCategory action="/flask/addCategory" method="POST">
                <label>Category name:</label>
                <input type="text" name="nameCat">
                <br>

                <input type="submit" name="action" value="addCategory">
		</form>
        </div>


<h2>Remove a Category</h2>

        <div id="removeCategori">
                <form name=removeCategory action="/flask/removeCategory" method="POST">
                <label>Category ID:</label>
                <input type="text" name="nameCat2">
		<br>
                <input type="submit" name="action2" value="removeCategory">
		</form>
        </div>



{% endblock %}
