{% extends 'layoutAdmin.html' %}

{% block title %}product{% endblock %}

{% block content %}

<h2>Current products</h2>


<tbody>

<!--<h1>{{ prodData }}</h1>-->

{% for item in prodData %}
	<table>
		<tr id="productName">
			<td>Name {{ item.prod_name }}</td>
		</tr>

		<tr id="productName">
			<td>ID {{ item.prod_id }}</td>
		</tr>

		<tr id="productPrice">
			<td>Price {{ item.price }}</td>
		</tr>

		<tr id="productImg">
			<a href="/flask/productDescriptionAdmin?productId={{item.prod_id}}">
				<img src={{ item.img_url }} id="itemImage" width="250" height="300" />
			</a>
		</tr>

		<h2>Modifie product<h2>
		<h2>remove product<h2>
	</table>
{% endfor %}
</tbody>



{% endblock %}
