{% extends 'layout.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
	<div id="cartItems">
		<h2>Shopping Cart Page</h2>
	</div>
{% for item in ordData %}

	<tr id="itemPic">
		<td>
		<img src={{ item.img_url }} id="itemImage" width="125" height="150" />
		</td>
		<br>
	</tr>

	<tr id="itemNmae">
		<td>Name: {{ item.prod_name }}</td>
		<br>
	</tr>

	<tr id="itemPrice">
		<td>Price: {{ item.order_item_price }}</td>
		<br>
	</tr>


	<a href="/gurx/removeFromCart?orderId={{  item.order_item_id  }}">Remove</a>
	<br>
	<a href="/gurx/checkout?orderId={{  item.order_item_id  }}">Proceed to checkout</a>

{% endfor %}
{% endblock %}
