{% extends 'layout.html' %}

{% block title %}Shop{% endblock %}

{% block content %}
<h2>Shop page</h2>


<h2>Items</h2>
<tbody>

<!--<h1>{{ prodData }}</h1>-->

{% for item in prodData %}
<link rel= "stylesheet" type= "text/css" href= "/edde/static/styles/shopStyles.css">
<div class="ree">
			<a href="/edde/productDescription?productId={{item.prod_id}}"><img src={{ item.img_url }} id="itemImage" width="250" height="300" /></a>
			<p>{{ item.prod_name }}:{{ item.price }}kr</p>
			
</div>
{% endfor %}
</tbody>

{% endblock %}

