* {
  text-align: center;
}

body {
 background-color: #DCDCDC; 
}

#addToCart {
 color: 000000;
}

#productName {
 text-align: center;
}

#productPrice {
 text-align: center;
}

.ree {
 align-content: center;
}

.links {
    overflow: hidden;
}

.links a {
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.links a:hover {
  color: snow;
}

.topmargin {
margin-top: 25px;
}
