* {
 align-content: center;
 text-align: center;
 vertical-align: middle;
}


img {
  border: 3px solid #555;
  background-color:white;
}
.colors {
  color: grey !important;
}

@media (forced-colors: active) {
  .colors {
    background-color: black;
    color: black;
  }
}


